*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 852px;
    margin: auto;
}

.namepetishen{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 77px;
    font-size: 40px;
    font-weight:500;
}

button{
    display: block;
    color: #fff;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
    width: 748px;
    height: 80px;
    margin-left: 60px;
    border: 0px;
    border-radius: 10px;
    margin-top: 40px;
    font-family:Roboto, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.petishen1inpit{
    display: block;
    width: 748px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 10px;
    background-color: #EEEEEE;
    border: 0px;
}

input::placeholder{
    font-size: 20px;
    padding-left: 29px;
    font-weight: normal;
}

.container:nth-child(9){
    margin-top: 0px;
}

.circleactiv{
    display:flex;
    Width:120px;
    height: 120px;
    border-radius: 100px;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
    vertical-align: middle;
    justify-content:center;
    align-items: center;
    color: #fff;
    font-size: 43px;
    font-weight: bold;
    
}

.line{
    display:inline-block;
    width: 60px;
    height: 0px;
    border: 4px rgba(85, 85, 85, 1) solid;
    border-radius: 10px;
    margin-left: 32px;
    margin-right: 32px;
    vertical-align: middle;
}

.circle{
    display: flex;
    width:120px;
    height: 120px;
    border-radius: 100px;
    background-color:rgba(238, 238, 238, 1);
    vertical-align: middle;
    justify-content:center;
    align-items: center;
    font-size: 43px;
    font-weight: bold;
}

.flex-parent{
    display: flex;
    max-width: 852px;
    margin: auto;
    align-items:center;
}