* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.container {
    padding-top: 80px;
    margin: auto;
    max-width: 1192px;
}

.numbers {
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 852px;
}

.first-n1 {
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.second-n2 {
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.n1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 274px;
    top: 80px;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
}

.n2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 274px;
    top: 80px;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
}

.n3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 274px;
    top: 80px;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
}

.n4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: 274px;
    top: 80px;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
}

.line {
    margin-left: 30px;
    margin-right: 30px;
}

.line2 {
    margin-left: 30px;
    margin-right: 30px;
}

.one {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 43px;
}

.search {
    border: none;
    color: #EAEAEA;
    width: 45%;
    height: 80px;
    border-radius: 10px;
}

.buttons {
    text-align: center;
}

.search-p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #131313;
    font-size: 24px;
    font-weight: 600;
}

form {
    display: inline;
}

.further {
    width: 45%;
    text-align: center;
    margin-left: 32px;
    height: 80px;
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
    border: none;
    border-radius: 10px;
}

.further-p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}

.donate {
    background: linear-gradient(107.02deg, #424393 0%, #B741FF 100%);
    border: 0px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #131313;
    font-size: 45px;
    text-align: center;
    padding-bottom: 27px;
    padding-top: 27px;
}

.bottom-block {
    padding-top: 33px;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange {
    width: 28px;
    height: 8px;
    left: 667px;
    top: 741px;
    background: #FF862E;
    border: 1px;
    box-sizing: border-box;
    border-radius: 100px;
}

.gray-block {
    margin-left: 5px;
    border: #eeeeee;
    width: 8px;
    height: 8px;
    left: 700px;
    top: 741px;
    background: #EEEEEE;
    border-radius: 100px;
}

.number-input {
    display: flex;
    justify-content: center;
    padding-top: 92px;
    padding-bottom: 92px;
}

.static {
    margin-right: 42px;
    border: none;
    width: 102px;
    height: 116px;
    background: #EAEAEA;
    border-radius: 20px;
    font-size: 100px;
    text-align: center;
}

.static1 {
    border: none;
    width: 102px;
    height: 116px;
    background: #EAEAEA;
    border-radius: 20px;
    font-size: 100px;
    text-align: center;
}

@media (max-width: 1192px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 881px) {
    .numbers {
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 364px;
    }
    .search {
        width: 45%;
    }
    .further {
        width: 45%;
    }
    .line2 {
        display: none;
    }
    .first-n1 {
        padding-bottom: 30px;
    }
}

@media (max-width: 660px) {
    .search-p {
        font-size: 18px;
    }
    .further-p {
        font-size: 18px;
    }
    .static {
        font-size: 80px;
        width: 80%;
        height: 100px;
    }
    .static1 {
        font-size: 80px;
        width: 80%;
        height: 100px;
    }
}

@media (max-width:464px) {
    .search-p {
        font-size: 12px;
    }
    .further-p {
        font-size: 12px;
    }
    .static {
        margin-right: 20px;
    }
}

@media (max-width: 390px) {
    .n1 {
        width: 90px;
        height: 90px;
    }
    .n2 {
        width: 90px;
        height: 90px;
    }
    .n3 {
        width: 90px;
        height: 90px;
    }
    .n4 {
        width: 90px;
        height: 90px;
    }
    h1 {
        font-size: 30px;
    }
    .static {
        width: 80%;
        height: 80px;
    }
    .static1 {
        width: 80%;
        height: 80px;
    }
    .search {
        width: 40%;
    }
    .further {
        width: 40%;
    }
    .search-p {
        font-size: 10px;
    }
    .further-p {
        font-size: 10px;
    }
    .static {
        font-size: 70px;
    }
    .static1 {
        font-size: 70px;
    }
}